# Python cache & venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.ipynb_checkpoints
*.egg-info/
.venv/
env/
venv/

# System & Editor files
.DS_Store
*.swp
*.swo
*.log
*.bak
*.tmp
*.idea/
*.vscode/

# Git
.git/
.gitignore

# Outputs & media
media/
input_images/
generated_meshes/
preprocessed/
outputs/
*.ply
*.obj
*.glb

# Frontend
node_modules/
*.lockb
dist/

# Build artifacts
build/
docker/hunyuan/__pycache__/
docker/hunyuan/*.pyc
docker/hunyuan/media/

# Docker cache mount dirs (if used)
cache/
